{% extends 'base.html' %} 
{% load static %}

{% block content %}
<main class="container text-center overflow-hidden">
  <h1>Welcome to CPE500Level online board</h1>
  <h3 class="text-danger">Important Updates</h3>

  <div class="py-2">
    {% for update in updates %}
    <p class="text-danger">{{ update.message }}</p>
    {% empty %}
    <p class="text-warning">No update for now</p>
    <p>{% endfor %}</p>
    <p class="text-danger">Need the list of courses (compulsory and elective), <a class="text-decoration-none" download href="{% static "500-level-Course-List.pdf" %}">click here</a></p>
    <p class="text-danger">See Lecture Timetable below!</p>
  </div>

  <div class="accordion accordion-flush" id="accordionFlushExample">
    {% for course in courses %}
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button
          class="accordion-button collapsed d-block text-center"
          style="color:#0d6efd"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseOne{{ forloop.counter }}"
          aria-expanded="false"
          aria-controls="flush-collapseOne{{ forloop.counter }}"
        >
          {{ course.course_name }}
        </button>
      </h2>
      <div
        id="flush-collapseOne{{ forloop.counter }}"
        class="accordion-collapse collapse py-3"
        aria-labelledby="flush-headingOne"
        data-bs-parent="#accordionFlushExample"
      >
        {% for material in materials %} {% if material.course == course %}
        <div class="py-1">
          <a href="{{ material.material.url }}">{{ material.material.name }}</a>
        </div>
        {% endif %} {% empty %}
        <p class="text-warning">No material uploaded yet</p>
        {% endfor %} {% if not course.material.exists %}
        <p class="text-warning">No material uploaded yet</p>
        {% endif %}
      </div>
      {% empty %}
      <p class="text-warning">No course yet</p>
    </div>
    {% endfor %}
    <div class="py-4">
      <h5 class="py-3">{{ current_semester }}</h5>
      <img src="{{ current_semester_time_table }}" alt="time-table" />
    </div>
    <p>
      This project is built and maintained by Efosa Jeffrey Okooboh.
      <a
        style="text-decoration: none"
        href="https://flutterwave.com/pay/digixtechsolutionsw7ieukb0xm1b"
        >If this project helps you, buy me a drink!</a
      >
    </p>
  </div>
  <p class="pt-3 text-center">&copy; 2021 - CPE500</p>
</main>
<main></main>

{% endblock content %}
